.container--title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0 10px;
}

.title--section {
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin: 5px 0;
}

.container--sites {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

@media (max-width: 424px) {
  .container--sites {
    grid-template-columns: 1fr;
  }
}
