.sidenav--wrapper {
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15), 1px 1px 10px rgba(0, 0, 0, 0.05);
  height: 100vh;
  padding: 40px 40px 40px 10px;
}

.sidenav--wrapper ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  margin: auto;
}

.sidenav--wrapper ul li {
  padding: 10px;
  white-space: nowrap;
}

.sidenav--wrapper ul li span.pointer {
  color: rgba(0, 0, 0, 0);
  margin-right: 8px;
}

.sidenav--wrapper ul li span.pointer.on {
  color: inherit;
}

li > a {
  color: inherit;
  text-decoration: none;
}

li > a:visited {
  color: inherit;
}

@media screen and (max-width: 620px) {
  .sidenav--wrapper {
    background: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 20px;
  }

  .sidenav--wrapper ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }
}
